body{
    background-color:hsl(30, 38%, 92%);
    
}
h1{
    font-weight: bold;
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
}

h6{
    font-family: Montserrat;
    color: hsl(158, 36%, 37%);
    padding-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-weight: lighter;
    letter-spacing: 4px;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
div{
    border-radius: 10px;
}

  .card {
    margin: 100px auto;
    width: 40%;
    border-radius: 10px;
    background-color: #FEFBF6;
}


img {
    width: 300px;
    height: 400px;
    float: left;
    padding-right: 26px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}
.price-one{
    display:inline-block;
    color:hsl(158, 36%, 37%)
    
    
}
.price-two{
    display:inline-block;
    text-decoration: line-through;
    letter-spacing: normal;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    background: #3A6351;
    padding: 7px 20px;
    border: solid hsl(158, 36%, 37%) 0px;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  
  .btn:hover {
    background: #90C8AC;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px){
    
    img {
        width: 375px;
        height: 375px;
        display: block;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
        padding-bottom: 16px;
        padding-left: none;

    }

    h1{
        padding-left: 16px;
    }
    p{
        font-family: Montserrat;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        padding-top: 16px;
        padding-left: 16px;
       
    }
    body{
        background-color:hsl(30, 38%, 92%);
        width: 375px;
        margin: 20px auto;
      } 
      .card{
        width: 375px;
        background-color:#ffffff;
        border-radius: 10px;
        text-align: left;
        margin-left: 16px;
        
        
      }

      .btn{
        display: block;
        padding: 15px 90px;
        margin-left: 16px;
       
      }
      .price-one{
        display:inline-block;
        color:hsl(158, 36%, 37%);
        margin: 20px auto;
        
    }
    .price-two{
        display:inline-block;
        text-decoration: line-through;
        letter-spacing: normal;
        margin: 20px auto;
    }
  }
  
